<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
	<body>
		<div class="global_header">
			<div class="container_12">
				<div class="logo grid_2">
					Ben Kahle
				</div>
				<div class="header_menu grid_6">
					<div class="nav_link">
						<a href="/contact">Contact</a>
					</div>
					<div class="nav_link">
						<a href="/projects">Projects</a>
					</div>
					<div class="nav_link">
						<a href="/resume">Resume</a>
					</div>
					<div class="nav_link">
						<a href="/">Profile</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content container_12">
		    {{{body}}}
		</div>
	    <div class="global_footer">
	    	<div class="container_12">
	    		<div class="footer_note">
	    			© Ben Kahle - 2013
	    		</div>
	    	</div>
	    </div>
    </body>
</html>