<div class="page_header grid_12">
	<div class="title grid_4 push_4 ">
		Project Portfolio
	</div>
</div>
<div class="section_header grid_12">
	Web Applications
</div>
<div class="portfolio_entry grid_12">
	<div class="image grid_5">
		<img src="/images/LB_site_demo.png"/>
	</div>
	<div class="text_container grid_6">
		<div class="title">
			LearnBIG Design Prototype
		</div>
		<div class="text">
			A design I made as a mockup for the LearnBIG website.
		</div>
	</div>
</div>