<div class="page_header grid_12">
	<div class="title grid_4 push_4 ">
		Project Portfolio
	</div>
</div>
<div class="section_header grid_12">
	Web Applications
</div>
<div class="portfolio_entry grid_12">
	<div class="image grid_5">
		<a href="http://mis.learnbig.com:3000">
			<img src="/images/LB_site_demo.png"/>
		</a>
	</div>
	<div class="text_container grid_6">
		<div class="title">
			LearnBIG Design Prototype
		</div>
		<div class="text">
			Technology:
			<ul>
				<li>Node.js</li>
				<li>Javascript</li>
				<li>HTML/CSS</li>
				<li>MySQL</li>
				<li>Amazon Web Services</li>
			</ul>	
			A design I made as a mockup for the LearnBIG website. I played with the handlebars.js template engine as well as experiments working with in-page content loading. 
		</div>
	</div>
</div>
<div class="portfolio_entry grid_12">
	<div class="image grid_5">
		<a href="http://learnbig.com">
			<img src="images/lb_site.png"/>
		</a>
	</div>
	<div class="text_container grid_6">
		<div class="title">
			LearnBIG Site
		</div>
		<div class="text">
			Technology:
			<ul>
				<li>C#</li>
				<li>.Net 4.5 MVC Framework</li>
				<li>HTML/CSS</li>
				<li>MySQL</li>
				<li>Amazon Web Services</li>
			</ul>	
			I worked on both the front-end and back-end of the LearnBIG website which involved mostly bug fixes and new features on top of an already built foundation.
		</div>
	</div>
</div>